trigger:
  branches:
    include:
      - main

variables:
  - group: env-vars

  - name: APP_LOCATION
    value: "./src"

  - name: OUTPUT_LOCATION
    value: "."

stages:
  - stage: Deploy
    displayName: "Deploy SWA per Environment"
    jobs:
      - job: Deploy
        displayName: "Deploy Static Web App"
        pool:
          name: Default
        steps:
          - checkout: self

          # Set environment-specific token based on branch
          - script: |
              echo "##vso[task.setvariable variable=ENV_TOKEN]$(AZURE_STATIC_WEB_APPS_DEV_API_TOKEN)"
              # if [ "$(Build.SourceBranchName)" == "stag" ]; then
              #   echo "##vso[task.setvariable variable=ENV_TOKEN]$(AZURE_STATIC_WEB_APPS_STAG_API_TOKEN)"
              # elif [ "$(Build.SourceBranchName)" == "main" ]; then
              #   echo "##vso[task.setvariable variable=ENV_TOKEN]$(AZURE_STATIC_WEB_APPS_PROD_API_TOKEN)"
              # fi
            displayName: "Select environment token"

          # Build & Deploy
          - task: AzureStaticWebApp@0
            displayName: "Build and Deploy SWA"
            inputs:
              azure_static_web_apps_api_token: $(ENV_TOKEN)
              app_location: $(APP_LOCATION)
              output_location: $(OUTPUT_LOCATION)
