trigger:
  branches:
    include:
      - develop
      - staging
      - main

pr:
  branches:
    include:
      - "*"

pool:
  name: Default

variables:
  - group: env-vars

  - name: APP_LOCATION
    value: "./src"

  - name: OUTPUT_LOCATION
    value: "."

  - name:  ENV
    value : ${{
        eq(variables['Build.SourceBranchName'], 'develop') && 'dev' ||
        eq(variables['Build.SourceBranchName'], 'staging') && 'stag' ||
        eq(variables['Build.SourceBranchName'], 'main') && 'prod' ||
        ''
      }}
stages:
  - stage: Test
    displayName: Run Tests
    dependsOn: Build
    condition: or(eq(variables['Build.Reason'], 'PullRequest'), eq(variables['Build.SourceBranchName'], 'develop', eq(variables['Build.SourceBranchName'], 'staging', eq(variables['Build.SourceBranchName'], 'main'))
    jobs:
      - job: RunTests
        steps:
          - bash: |
              echo "Running tests..."
            displayName: "Run Unit/Integration Tests"

  - stage: Deploy
    displayName: "Deploy SWA per Environment"
    dependsOn: Test
    condition: |
      and(
        succeeded(),
        ne(variables['Build.Reason'], 'PullRequest'),
        in(variables['Build.SourceBranchName'], 'develop', 'staging', 'main')
      )
    jobs:
      - deployment: DeployApp
        displayName: "Deploy to $(env)"
        environment: $(env)

        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self

                # Set environment-specific token based on branch
                - script: |
                    if [ "$(env)" == "dev" ]; then
                      echo "##vso[task.setvariable variable=ENV_TOKEN]$(dev-swa-deployment-token)"
                    elif [ "$(env)" == "stag" ]; then
                      echo "##vso[task.setvariable variable=ENV_TOKEN]$(stag-swa-deployment-token)"
                    elif [ "$(env)" == "prod" ]; then
                      echo "##vso[task.setvariable variable=ENV_TOKEN]$(prod-swa-deployment-token)"
                    fi
                  displayName: "Select environment token"

                # Build & Deploy
                - task: AzureStaticWebApp@0
                  displayName: "Build and Deploy SWA"
                  inputs:
                    azure_static_web_apps_api_token: $(ENV_TOKEN)
                    app_location: $(APP_LOCATION)
                    output_location: $(OUTPUT_LOCATION)
